<div class="content-body" style="min-height: 788px;">
    <div class="container-fluid">
        <div class="page-titles">
            <h4 style="            font-size: 18px;
            ">آموزش کار با سامانه
            </h4>
            <ol class="breadcrumb">
                <li style="
    font-size: 14px;
  " class="breadcrumb-item"><a href="javascript:void(0)">آموزش کار با سامانه
                    </a></li>
                <li style="
    font-size: 14px;
  " class="breadcrumb-item active"><a href="javascript:void(0)">آموزش کار با سامانه
                    </a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="card-intro-title">آموزش بخش پرسنل</h4>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <video controls poster="/images/big/img1.jpg" style="
                                    width: 100%;
                                ">
                                        <source src="movie.mp4" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                      </video>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="card-intro-title">آموزش بخش دسته ها</h4>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <video controls poster="/images/big/img1.jpg" style="
                                    width: 100%;
                                ">
                                        <source src="movie.mp4" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                      </video>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="card-intro-title">آموزش بخش وارد کردن اطلاعات</h4>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <video controls poster="/images/big/img1.jpg" style="
                                    width: 100%;
                                ">
                                        <source src="movie.mp4" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                      </video>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="card-intro-title">آموزش بخش بخشنامه ها</h4>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <video controls poster="/images/big/img1.jpg" style="
                                    width: 100%;
                                ">
                                        <source src="movie.mp4" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                      </video>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="card-intro-title">آموزش بخش جستجو</h4>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <video controls poster="/images/big/img1.jpg" style="
                                    width: 100%;
                                ">
                                        <source src="movie.mp4" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                      </video>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="card-intro-title">آموزش بخش مدیریت خطاها</h4>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <video controls poster="/images/big/img1.jpg" style="
                                    width: 100%;
                                ">
                                        <source src="movie.mp4" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                      </video>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="card-intro-title">آموزش بخش کاربران</h4>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <video controls poster="/images/big/img1.jpg" style="
                                    width: 100%;
                                ">
                                        <source src="movie.mp4" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                      </video>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="card-intro-title">آموزش</h4>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <video controls poster="/images/big/img1.jpg" style="
                                    width: 100%;
                                ">
                                        <source src="movie.mp4" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                      </video>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>