<div class="row clearfix">



    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="content">
                <div class="text">زباله دان</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">
                    125</div>
            </div>
            <div class="icon">
                <i class="material-icons">playlist_add_check</i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="content">
                <div class="text">زمانبندی شده</div>
                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">
                    257</div>
            </div>
            <div class="icon">
                <i class="material-icons">help</i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-light-green hover-expand-effect">
            <div class="content">
                <div class="text"> منتشر شده</div>
                <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20">
                    243</div>
            </div>
            <div class="icon">
                <i class="material-icons">forum</i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-orange hover-expand-effect">
            <div class="content">
                <div class="text">همه </div>
                <div class="number count-to" data-from="0" data-to="4" data-speed="100" data-fresh-interval="20">4
                </div>
            </div>
            <div class="icon">
                <i class="material-icons">person_add</i>
            </div>

        </div>
    </div>
</div>

<div class="row clearfix">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    کامنتها

                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="/admin/gallerypicture/tableview" class=" waves-effect waves-block">نمایش
                                    جدولی</a>
                            </li>
                            <li><a href="/admin/gallerypicture" class=" waves-effect waves-block">نمایش ستونی</a>
                            </li>
                            <li><a href="/admin/gallerypicture/create" class=" waves-effect waves-block">افزودن
                                    تصویر
                                    جدید</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


        </div>
    </div>

    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 pull-right text-right">
        <div class="body lablepicture">

            <a href="/admin/comments/"><span class="label bg-light-green">کامنت های منتشر شده</span></a>
            <a href="/admin/comments/approved"><span class="label bg-light-blue">کامنت های منتشر نشده</span></a>
            <a href="/admin/post/trash"><span class="label bg-red">زباله دان</span></a>

        </div>
    </div>
    
    <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
        <div class="demo-google-material-icon"> <i class="material-icons">search</i> <span
                class="icon-name">جستجو</span> </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pull-right text-right">

        <button type="button" class="btn btn-primary waves-effect">فیلتر</button>
    </div>
    
</div>