<!-- Main Wrapper -->
<div id="wrapper">

    <div class="content">
        <div class="content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                <a class="closebox"><i class="fa fa-times"></i></a>
                            </div>
                            جزئیات گزارشات ماشینهای عملیاتی
                        </div>
                        <div class="panel-body float-e-margins">
                            <div class="row">





                            </div>
                            <div class="row">


                                <div class="col-lg-3">
                                    <div data-toggle="buttons" class="btn-group">
                                        <p>
                                            گزارشات
                                        </p>
                                        <label class="btn btn-info active btn-xs">
                                            <input type="checkbox"> گزارش مسیر حرکت
                                        </label>

                                        <label class="btn btn-info active btn-xs">
                                            <input type="checkbox"> گزارش لحظه ای خودرو
                                        </label>
                                        <label class="btn btn-info active btn-xs">
                                            <input type="checkbox"> گزارش سوخت مصرفی
                                        </label>
                                        <label class="btn btn-info active btn-xs">
                                            <input type="checkbox"> گزارش عملکرد راننده
                                        </label>
                                        <label class="btn btn-info active btn-xs">
                                            <input type="checkbox"> گزارش تخلفات راننده
                                        </label>

                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div data-toggle="buttons" class="btn-group">
                                        <p>
                                            ابزار سیستم
                                        </p>
                                        <label class="btn btn-success active btn-xs">
                                            <input type="radio" id="option1" name="options"> تعریف مناطق
                                        </label>

                                        <label class="btn btn-success active btn-xs">
                                            <input type="radio" id="option1" name="options"> تعریف مسیرهای ناشناخته
                                        </label>


                                        <label class="btn btn-success active btn-xs">
                                            <input type="radio" id="option1" name="options"> تعریف نقاط مهم
                                        </label>

                                        <label class="btn btn-success active btn-xs">
                                            <input type="radio" id="option1" name="options"> تعریف سطوح دسترسی
                                        </label>


                                    </div>
                                </div>



                                <div class="col-lg-3">
                                    <div data-toggle="buttons" class="btn-group">
                                        <p>
                                           مدیریت
                                        </p>
                                      

                                    </div>
                                </div>



                                <div class="col-lg-3">
                                    <div data-toggle="buttons" class="btn-group">
                                        <p>
                                            تعمیر و نگهداری                                        </p>
                                       
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">


                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                <a class="closebox"><i class="fa fa-times"></i></a>
                            </div>
                            جدول مشخصات خودرو عملیاتی
                        </div>
                        <div class="panel-body">
                            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="example2_wrapper"
                                            class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="dataTables_length" id="example2_length"><label>نماش
                                                            <select name="example2_length" aria-controls="example2"
                                                                class="form-control input-sm">
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="100">100</option>
                                                            </select> کل</label></div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div id="example2_filter" class="dataTables_filter"><label>جست و
                                                            جو:<input type="search" class="form-control input-sm"
                                                                placeholder="برای جست و جو نام آتش نشان را وارد کنید"
                                                                aria-controls="example2"></label></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="example2"
                                                        class="table table-striped table-bordered table-hover dataTable no-footer"
                                                        role="grid" aria-describedby="example2_info">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting_asc" tabindex="0"
                                                                    aria-controls="example2" rowspan="1" colspan="1"
                                                                    aria-label="نام: activate to sort column descending"
                                                                    style="width: 162px;" aria-sort="ascending">نام</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="example2" rowspan="1" colspan="1"
                                                                    aria-label="شماره تلفن: activate to sort column ascending"
                                                                    style="width: 278px;">شماره جی پی اس</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="example2" rowspan="1" colspan="1"
                                                                    aria-label="تاریخ ثبت: activate to sort column ascending"
                                                                    style="width: 112px;">تاریخ ثبت</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="example2" rowspan="1" colspan="1"
                                                                    aria-label="تاریخ: activate to sort column ascending"
                                                                    style="width: 125px;">تاریخ</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="example2" rowspan="1" colspan="1"
                                                                    aria-label="ویرایش: activate to sort column ascending"
                                                                    style="width: 113px;">جزئیات</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="example2" rowspan="1" colspan="1"
                                                                    aria-label="حذف: activate to sort column ascending"
                                                                    style="width: 80px;">حذف</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>







                                                            <tr role="row" class="odd">
                                                                <td class="sorting_1">خودرو عملیاتی کد ۷۸</td>
                                                                <td>۲۶۵۷۸۵۴۲۳۱</td>
                                                                <td>2008/12/16</td>
                                                                <td>51 روز قبل</td>
                                                                <td><a href="/admin/gis/information" class="btn btn-info active btn-xs">جزئیات</a></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="dataTables_info" id="example2_info" role="status"
                                                        aria-live="polite">نمایش 1 از 1 کل 1 داده </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="dataTables_paginate paging_simple_numbers"
                                                        id="example2_paginate">
                                                        <ul class="pagination">
                                                            <li class="paginate_button previous disabled"
                                                                id="example2_previous"><a href="#"
                                                                    aria-controls="example2" data-dt-idx="0"
                                                                    tabindex="0">قبلی</a></li>
                                                            <li class="paginate_button active"><a href="#"
                                                                    aria-controls="example2" data-dt-idx="1"
                                                                    tabindex="0">1</a></li>
                                                            <li class="paginate_button next disabled"
                                                                id="example2_next"><a href="#" aria-controls="example2"
                                                                    data-dt-idx="2" tabindex="0">بعدی</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        مشاهده طول مسیر آخرین عملیات صورت گرفته
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="panel-heading">

                                آخرین عملیات انحام شده </div>
                            <div class="panel-body" style="
                            height: 441px;
                        ">
                                <div class="flot-chart">
                                    <script src="https://unpkg.com/elm-pep"></script>
                                    <style>
                                        .maps {
                                            width: 100%;
                                            height: 400px
                                        }
                                    </style>
                                    <link rel="stylesheet" href="/animation/map.bb28b584.css">

                                    <div id="maps" class="maps"></div> <label for="speed"> سرعت:&nbsp; <input id="speed"
                                            type="range" min="10" max="999" step="10" value="60" style="display:none">
                                    </label> <button id="start-animation">شروع
                                        نمایش</button>
                                    <script src="/animation/map.01ad1e46.js"></script>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel-footer">

                        آخرین بروز رسانی: ده دقیقه پیش
                    </div>
                </div>
            </div>
        </div>


    </div>



</div>