@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

body {
    /*overflow-x: hidden;*/
    font-family: IRANSans;
    /*background: url(../img/home-lower.jpg);*/
    /*object-fit: cover;*/
    width: 100%;
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.notification{
  text-align: right;
}
.notification h6{
  padding: 10px;
    padding-right: 25px;
    font-weight: bold;
    direction: rtl;
    color: red;
}
.headerimg{
  text-align: center;
}
.spetioal{
  text-align: center;
}
.spetioal h2{
  
  color: #6b6b6b;
  font-weight: bold;

  font-size: 19px;

}
.spetioal a{
  background-color: #ee205a;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 3px 0;
    line-height: 1.2em;
    position: relative;
    font-weight: 400;
    text-align: center;
    max-width: 100%;
}
.height{
  height: 500px;
}
.section h3{
  color: #6b6b6b;
  text-align: right;
    font-weight: bold;
}
.section p{
  text-align: justify;
  direction: rtl;
  line-height: 25px;
  margin-top: 21px;
  text-align-last: right;
}
.section{
  margin-top: 100px;
  background-color: #f5f5f5;
  padding: 80px;
}
.mains{
  width: 50%;
  margin: 0 auto;
  text-align: justify;
  text-align-last: right;
  line-height: 25px;
  margin-top: 80px;
  direction: rtl;

}
.suggestion{
  position: fixed;
    background: #28353d;
    width: 40%;
    height: 100vh;
    text-align: right;
    padding: 10px;
    color: #fff;
    right: -600px;

    z-index: 99999999;
    top: 0;

}
#mas{
  display: none;

  width: 100%;
  height: 100vh;
  background: black;
  z-index: 9;
  position: fixed;
  top: 0;
  opacity: 0.7;

}
.content.plus{
  height: auto !important;
}
th {
  text-align: right;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.feedback-button{
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  font-family: IRANSans,serif;
  font-size: 1.1rem;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  padding: 5px 10px;
  background-color: #fff;
  color: #607d8b;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
  outline: 0;
  position: fixed;
  z-index: 999999999999;
  right: 0;
  top: 178px;
}
#endofoperation{
  bottom: 0px;
  background: #28353d;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 17px;
  width: 100%;
  right: 0;
  z-index: 999999999999999999;
  cursor: pointer;
}
#endofoperation a{
  color: #fff;
}
#popup img{
  width: 100px;
}
#popup{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999999999999999999999999999;
  background: #232323;
  top: 0;
  left: 0;
  color: #fff;
  text-align: center;
  padding-top: 100px;
  display: none;
}
.suggestion input{
  width: 100%;
  direction: rtl;
  padding: 9px;
  font-size: 12px;
}
.suggestion #sub{
  width: 100%;
    background: #00a5e4;
    padding: 7px;
    box-shadow: none;
    border: navajowhite;
    border-radius: 3px;
    margin-top: 7px;
}
.suggestion textarea {
  width: 100%;
  height: 102px;
  text-align: right;
  direction: rtl;
  padding: 9px;
  font-size: 12px;
}
.fast_contact{

  width: 100%;
  position: fixed;
  bottom: 0px;
  background: #e94c75;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 13px;
  width: 100%;
  right: 0;
  z-index: 999999999999999999;

  cursor: pointer;

}
.fast_contact i{
  padding-left: 10px;
}
img.logo{
  width: 50px;
  float: right;
}
/* Start Top Panel */
.top-panel{
  background-color: #28353d;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 999999999;
}
.top-panel h1.title{
  font-size: 16px;
font-weight: 700;
color: #fff;
line-height: 24px;
padding: 13px 13px 13px 0;
float: right;
margin: 0;
}
.top-panel h2.description{
  float: right;
line-height: 24px;
font-size: 12px;
color: #fff;
margin: 0 7px 0 0;
padding: 13px 0;
}
/* Start Menu */
.user-menu ul#menu{
  /*pointer-events: none;*/
  background: #fff;
  position: absolute;
  left: 0;
  box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  -moz-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  -ms-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  -o-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  top: 30px;
  direction: rtl;
  width: 240px;
  border-radius: 3px;
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -o-transform: translateY(15px);
  -ms-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
padding: 0px 2px 4px;
list-style: none;
  z-index: 9999;
  text-align: right;
}
.user-menu ul{

display: none;
}
a:hover{
  text-decoration: none;
}
.user-menu .user-name a:hover #menu{
  display: block;
}
.opacity1{
  opacity: 1;
}
.sidebar-panel .nav ul{
  /*background: #fff;*/
list-style: none;
padding: 0 ;
margin: 0;
float: right;
width: 100%;
position: relative;
}
.sidebar-panel .nav ul.collapse{
  background-color: #28353d;
}
.sidebar-panel .nav ul li ul.sub-item{
  display: none;
}
.sidebar-panel .nav ul li{
  height: 45px;
line-height: 45px;
}

.user-menu > ul#menu  > li:first-child a {
  border-right-color: #41afa5;
  color: #41afa5;
  text-decoration: none;
  /*border-right: 3px solid #41afa5;*/

    }

.user-menu ul#menu li > a {
  padding: 0 15px;
color: #525e61;
border-right: 3px solid transparent;
display: block;
font-size: 14px;
-webkit-transition: all .3s;
-moz-transition: all .3s;
-ms-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;
text-align: right;
float: right;
width: 100%;
}

.user-menu ul#menu i.left{
  float: left;
}
.user-menu ul#menu > li > ul > li > a {
    padding: 0px 10px 0px 0px !important;
    color: #9fb1c2;
border-right: 3px solid transparent;
display: block;
font-size: 14px;
-webkit-transition: all .3s;
-moz-transition: all .3s;
-ms-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;
text-align: right;
float: right;
width: 100%;
}
.user-menu ul#menu li a > i{
  /*font-size: 19px;*/
margin-left: 8px;
float: right;
margin-top: 14px;
}

.user-menu .collapseable {
    border-right: 4px solid #1ab394;
    background-color: #293846;
    position: absolute;
z-index: 999999999;
top: 20%;
right: 0;
padding: 2px;

}

.user-menu > ul#menu > li > a:hover , .user-menu > ul#menu > li > a:focus
 {
    border-right-color: #41afa5;
    color: #41afa5;
    text-decoration: none;
}
/*.user-menu > ul#menu*/
.user-menu > ul#menu > li > ul > li > a:hover , .user-menu > ul#menu > li > ul > li > a:focus
 {
    /*border-right-color: #fff;*/
    color: #fff;
    text-decoration: none;
}
.user-menu ul#menu li{
  float: right;
width: 100%;
height: 40px;
padding: 0;

}

.user-menu ul#menu li a{
  font-size: 13px;
display: block;
padding: 0 10px;
line-height: 40px;
height: 40px;
opacity: .8;
color: rgba(0,0,0,.7);
}

.user-menu{
  float: left;
height: 34px;
background: #142736;
margin: 8px 0;
-moz-border-radius: 0 2px 2px 0;
border-radius: 0 2px 2px 0;
color: #fff;
padding: 5px 15px;
line-height: 24px;
position: relative;
}
.user-menu .user-name{
  float: right;

}
.user-menu .describ-name{
  float: right;
  padding: 1px;
/*padding-left: 10px;*/
/*margin-left: 10px;*/
/*border-left: 1px solid #28353d;*/
}
.user-menu .user-name a{
  color: #fff;
  font-size: 12px;
}
/* End Menu */

/* Start Main */
.sidebar-panel{
  background: #fff;
border-radius: 2px;
padding: 10px 0px;
margin-top: 20px;
float: right;
width: 100%;
overflow: hidden;
-webkit-box-shadow: 0 1px 2px 1px #D3D2D3;
box-shadow: 0 1px 2px 1px #D3D2D3;
margin-bottom: 75px;
}
.nav{
  float: right;
width: 100%;
}
.sidebar-panel .nav ul{
  /*background: #fff;*/
list-style: none;
padding: 0 ;
margin: 0;
float: right;
width: 100%;
position: relative;
}
.sidebar-panel .nav ul.collapse{
  background-color: #28353d;
}
.sidebar-panel .nav ul li ul.sub-item{
  display: none;
}
.sidebar-panel .nav ul li{
  height: 45px;
line-height: 45px;
}

.sidebar-panel .nav > ul > li:first-child a {
  border-right-color: #41afa5;
  color: #41afa5;
  text-decoration: none;
  /*border-right: 3px solid #41afa5;*/

    }

.sidebar-panel .nav ul li > a {
  padding: 0 15px;
color: #525e61;
border-right: 3px solid transparent;
display: block;
font-size: 14px;
-webkit-transition: all .3s;
-moz-transition: all .3s;
-ms-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;
text-align: right;
float: right;
width: 100%;
}

.sidebar-panel .nav i.left{
  float: left;
}
.sidebar-panel .nav ul > li > ul > li > a {
    padding: 0px 10px 0px 0px !important;
    color: #9fb1c2;
border-right: 3px solid transparent;
display: block;
font-size: 14px;
-webkit-transition: all .3s;
-moz-transition: all .3s;
-ms-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;
text-align: right;
float: right;
width: 100%;
}
.sidebar-panel .nav ul li a > i{
  font-size: 19px;
margin-left: 10px;
float: right;
margin-top: 13px;
}

.sidebar-panel .collapseable {
    border-right: 4px solid #1ab394;
    background-color: #293846;
}

.sidebar-panel .nav > ul > li > a:hover , .sidebar-panel .nav > ul > li > a:focus
 {
    border-right-color: #41afa5;
    color: #41afa5;
    text-decoration: none;
}

.sidebar-panel .nav > ul > li > ul > li > a:hover , .sidebar-panel .nav > ul > li ul > li > a:focus
 {
    /*border-right-color: #fff;*/
    color: #fff;
    text-decoration: none;
}
/* Start Break */
.break-nav{
  float: right;
width: 100%;
background: #fff;
height: 40px;
line-height: 40px;
padding: 0 20px;
margin-top: 0;
color: #333;
position: relative;
z-index: 2;
margin-bottom: 0;
}


#break{
  /*background: #f3f3f3;*/
padding-top: 30px;
}
.box {
    float: right;
    width: 100%;
    background: #fff;
    -moz-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
    -ms-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
    -o-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
    margin-bottom: 15px;
    margin-top: 51px;
}




.break-nav i{
  background: url(../img/pipe.png) no-repeat;
float: right;
width: 11px;
height: 40px;
margin: 0 15px;
opacity: .5;
}
.break-wrap a{
  font-size: 12px;
float: right;
height: 40px;
color: #333;
/*font-weight: 700;*/
}
.break-nav .break-wrap {
    white-space: nowrap;
  text-align: right;
}
.break-wrap {
    line-height: 40px;
    color: #333;
}



/* Start Footer */
#panel-footer {
  width: 100%;
background: #fff;
-moz-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
-ms-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
-o-box-shadow: 1px 1px 7px rgba(0,0,0,.2);

    /*position: fixed;*/
    width: 100%;
    bottom: 0px;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    color: #676a6c;
    margin-top: 35px;
}
.feature-select-unit{
  padding-right: 35px;
}
.feature-select-unit button{
  padding: 10px;
background: #337ab7;
color: #fff;
border: none;
}
.feature-select-unit button:hover{
  padding: 10px;
background: #065293;
color: #fff;
border: none;
}

.select-unit button{
  padding: 3px;
  background: #337ab7;
  color: #fff;
  border: none;
  padding-right: 10px;
  padding-left: 10px;

}
.select-unit button:hover{
  /*padding: 5px;*/
background: #065293;
color: #fff;
border: none;
}
.select-unit tbody tr td input{
  /*width: 50%;*/
  direction: rtl;
width: 100px;
/*border-radius: unset;*/
/*border-style: unset;
border: undet;
border-bottom: 1px solid #b9b9b9;*/
}
/*.select-unit tbody tr td input:focus{
  direction: rtl;
width: 100px;
border-style: unset;
border: undet;
border-bottom: 1px solid black;
}*/








.height-30{
  height: 30px;
}



/* Start Main Content */
.flot-right{
  float: right;
}
.table-container{
  padding: 0 0 25px 0;
}
.dataTables_wrapper {
    background-color: #E6ECEF;
    border: 1px #ccc solid;
    border-radius: 4px;
    font-size: 0.9em;
}
.dataTables_wrapper .dataTables_filter {
    float: left;
}
.dataTables_wrapper .dataTables_info {
    background-color: #f0ad4e;
}
.dataTables_wrapper .dataTables_info {
    background-color: #f0ad4e;
}
.dataTables_wrapper .dataTables_info {
    text-align: right !important;
}
.dataTables_wrapper .dataTables_info {
    padding: 9px 10px;
    background-color: #006587;
    border: 0;
        border-bottom-width: 0px;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    border-bottom: 1px solid #fff;
    font-size: 0.9em;
    color: #fff;
    border-radius: 4px 4px 0 0;
    text-align: left !important;
}
div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
}
.dataTables_wrapper table.table-list {
    margin-top: 0 !important;
    margin-bottom: 6px !important;
}

.form-group {
    margin-bottom: 15px;
    /*text-align: right;*/
    direction: rtl;
    /*float: right;*/
}
#lat{
  display: none;
}
#lng{
  display: none;
}
.content{
  float: right;
    width: 100%;
    height: 500px;
    background: #fff;
    -moz-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
    -ms-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
    -o-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
    margin-top: 22px;
text-align: right;
margin-bottom: 500px;
direction: rtl;
}

.content p {
  padding: 12px 0px 0 0;
}
.content a{ color: #222}
.content header.title {
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.content header.title p{
  text-align: right;
  direction: rtl;
  padding: 25px 30px 0px 0px;
line-height: 26px;
display: none;
}
.content header.title h3 {
    border-bottom: 1px solid #eff2f3;
    padding-bottom: 22px;
    position: relative;
    text-align: right;
}
.content header.title h3 {
  margin-bottom: 0;
  font-size: 16px;
  margin: 30px 30px;
  padding: 0px;
      padding-bottom: 0px;
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.content header h3, .box header {
    /*font-size: 20px;*/
    /*font-weight: 700;*/
    color: #525e61;
    margin-top: 0;
}
table.ticket_list {
  text-align: right;
    border: 1px solid #d7dcdd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 92%;
margin: 0 auto;
margin-bottom: 30px;
}
.table-responsive {
    overflow-x: auto;
    min-height: .01%;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table.ticket_list thead {
    background: #eff2f3;
}
.table.ticket_list > thead > tr > th {
  vertical-align: middle;
  border-bottom: none;
  color: #50667f;
  font-size: 14px;
  font-weight: 100;

}
.table.ticket_list > tbody > tr > td {
    vertical-align: middle;
    padding: 3px 5px;
    color: #142736;
    line-height: 1.8;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
    text-align: right;

}



















.progress {
    height: 3px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 999999999999999999;
}















/* Start Select-Unit */
ul{
  list-style: none;
}
.status-user{
  /*column-count: 2;*/
  padding: 0px;
  padding-top: 17px;
  background: #eff2f3;
  margin: 35px;
  margin-top: 0;

}
.alarm h4{
  text-align: center;
background: #f9dddd;
font-size: 12px;
padding: 10px;
}
.status-user ul{
  column-count: 2;
  direction: rtl;
  padding-right: 0;
}
.status-user ul li p{
  display: contents;
  font-size: 12px;
}
.status-user ul li h3{
  color: #50667f;
  display: contents;
direction: rtl;
text-align: right;
font-size: 14px;
}
.status-user ul li{
  padding: 20px;
padding-top: 0;

}






.mapp-container .item-set.vertical.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-top: 1rem;
  display: none;
}

.mask {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  opacity: .2;
  background-image: none !important;
  background-color: #000;
  z-index: 4;
  display: none;
}



.logo{
  display: none;
}

.icon-collapse {
  display: none;
}
.bar1 {
  background-color: #ffffff;
  position: absolute;
  height: 2px;
  right: 10px;
  border-radius: 1px;
  opacity: 1;
  transition: opacity .15s;
  top: 11px;
  width: 17px;
}
.bar2 {
  background-color: #fff;
  position: absolute;
  height: 2px;
  right: 10px;
  border-radius: 1px;
  opacity: 1;
  transition: opacity .15s;
  top: 19px;
  width: 12px;
}
.bar3 {
  background-color: #fff;
  position: absolute;
  height: 2px;
  right: 10px;
  border-radius: 1px;
  opacity: 1;
  transition: opacity .15s;
  top: 27px;
  width: 22px;
}









/********* gis style ***************/
.manage{
  position: absolute;
  top: 0;
  width: 300px;
  height: 83vh;
      box-shadow: 0px 6px 18px 0px #424242;
    padding: 10px;
    margin: 58px;
    background: #fff;
}
.manage .img img{
  width: 100%;
}
.sidbar{
  position: fixed;
    width: 250px;
    background: #28353d;
    right: 0;
    top: 0;
    height: 100vh;
}
.sidbar img{
  width: 100%;
}
.sidbar ul{
  text-align: right;
    padding: 0;
    margin: 0;
    /* padding-top: 38px; */
}
.sidbar ul li i{
  padding: 10px;
}
.sidbar ul li{
  padding: 20px;
}

.sidbar ul li:hover a{
color: red;
}
.sidbar ul li:hover{
  cursor: pointer;
}

.sidbar ul li a{
  color: #fff;
}



@media only screen and (max-width:768px){
  .icon-collapse {
    display: block;
    float: right;
    margin-top: 4px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: #00000040;
    cursor: pointer;
    position: relative;
}

  .content header.title h3 {
    margin-bottom: 0;
    font-size: 16px;
    margin: 30px 30px;
    padding: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    letter-spacing: -1px;
    padding-bottom: 20px;
    margin-bottom: 0;
    display: none;
}
.content {
  float: right;
  width: 100%;
  height: auto;
  background: #fff;
  -moz-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  -ms-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  -o-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  margin-top: 0px;
  text-align: right;
  margin-bottom: 0px;
}
.user-menu {
  float: left;
  height: 34px;
  background: #142736;
  margin: 8px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  color: #fff;
  padding: 5px 15px;
  line-height: 24px;
  position: relative;
  display: none;
}
.break-nav {
  float: right;
  width: 100%;
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-top: 0;
  color: #333;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
  display: none;
}
.content header.title {
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin: 0;
}
  #panel-footer {
    width: 100%;
    background: #fff;
    -moz-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
    -ms-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
    -o-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
    /* position: fixed; */
    width: 100%;
    bottom: 0px;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    color: #676a6c;
    margin-top: 35px;
    display: none;
}
#app {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
  .sidebar-panel{
    position: fixed;
    top: 0;
    z-index: 9999999999999999999;
    width: 100%;
    height: 100vh;
    width: 83%;
    background: #fff;
    padding: 15px;
    margin: 0;
    right: -350px;
  }
  .logo{
    display: block;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid;
    padding: 29px;  }
  .sidebar-panel .logo img{
    width: 100px;
  }
}
















.top-menu a.active{
  color: lightgreen;
}
.down-down a{

  color: green;

  font-size: 25px;

padding-top: 5px;
  z-index: 999;
  text-align: center;
  height: 50px;
  width: 50px;
  top: 50vh;

}
.down-down a i{
  padding-top: 10px;
}
.down-down:hover{
  background-color: lightgreen;
  color: white;
}
.down-down:hover i
{
  color: white;
}
.down-down {
  position: fixed;
  color: green;

text-align: center;
  right:15px;
  z-index: 999;
  border: 1px solid green;
  height: 50px;
  width: 50px;
  top: 50vh;

  border-radius: 100%;
}

a.active{
  color: grlightgreeneen;
}
.header {
  background:url(../img/slider.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  color: white;
}

.overlay-darken {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon {
  position: relative;
  float: right;
  text-align: center;
}

.icon i {
  font-size: 40px;
  border: 2px solid limegreen;
  border-radius: 0 100px 100px;
  padding: 10px 15px 15px 15px;
  text-align: center;
  color: limegreen;
}

.phone-img {
  max-width: 250px;
  margin: 0 auto;
}

.space-height {
  height: 10px;
}

.border {
  border: 1px solid red;
}

a {
  color: white;
  text-decoration: none;
}

.heade-featur {
  text-align: right;
  margin-right: 82px;
}

.featur-box:hover i {
  cursor: pointer;
  color: white;
  background-color: limegreen;
  border-color: mediumseagreen;
}

.heade-featur h3 {
  font-weight: bold;
  font-size: 24px;
}

.heade-featur p {
  line-height: 22px;
  font-size: 12px;
  padding-top: 10px;
}

.height-low {
  height: 20px;
}

.line-very-smal {
  height: 10px;
}

.line-smal {
  width: 60px;
  height: 2px;
  margin: 10px;
  background-color: #999;
  margin: 0 auto;
}

.header-title h6 {
  line-height: 26px;
  font-size: 14px;
  color: #999;
}

.space-height-fast {
  height: 30px;
}


/* Start Sectin Srvice */

.block-top {
  text-align: center;
  padding: 20px;
}

.block-top p {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.heder {
  text-align: center;
}

.height-80 {
  height: 80px;
}

.bg-gray {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.04);
  padding-top: 50px;
  padding-bottom: 50px;
}

.info-img {
  width: 70%;
  margin: 0 auto;
}

.info-img img {
  width: 90%;
  margin: 0 auto;
}

.height-40 {
  height: 40px;
}
.height-30 {
  height: 30px;
}

.heade-info {
  text-align: right;
  direction: rtl;
}
.heade-info h3{
  font-weight: bold;
  font-size: 25px;
  padding-top:10px; 
}
.heade-info p{
  line-height: 26px;
  font-size: 13px;
}
.line-info {
  width: 45px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  margin-top: 30px;
}
.list-info i{
  padding-left: 8px;
  color: green;
}
.list-info{
  list-style: none;
  line-height: 40px;
  text-align: right;
  padding-right: 0;
}

.download{
  width: 20px;
  display: flex;
  padding-top: 30px;
}
.download img{
  width: 80px;
  padding-left: 28px;
}


.about-us{
  text-align: center;

}
.about-us col-md-10{
  margin: 0 auto;
  width: 100%;
}
.about-us h3{
  font-weight: bold;
}
.about-us p{
  line-height: 26px;
  font-size: 13px;
}
.line-about{
  width: 50px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0 auto;
}
.height-10{
  height: 10px;
}
.options .form-group{
  margin-top: 30px;
}

.options .control-form{
  width: 265px;
}

.options input.control-form{
  border: 2px solid white;
  border-radius: 15px 0px 0px 0px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: right;
}
.options .btns:hover{
  color: lightgreen;
  background-color: rgba(255, 255, 255, 0.3);
}
.options .btns{
  border: 2px solid white;
  border-radius: 0px 0px 15px 0px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: -5px;
  text-align: right;
}
.options{
  padding: 5px;
  color: white;
      text-shadow: 1px 1px 2px #f5f3f3;
  width: 100%;
height: 35vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.parallax{
      background-attachment: fixed;
  background-size: cover;
  background-image: url(../img/contact.jpg);
  width: 100%;
height: 35vh;

  background-size: cover;
  background-position: center;

  border-top: 2px solid rgb(238, 238, 238);
  border-bottom: 2px solid rgb(238, 238, 238);
  
}
