




<link rel="stylesheet" href="/build/ol.css" type="text/css">
<link rel="stylesheet" href="/build/samples.css" type="text/css" />
<link rel="stylesheet" href="/css/leaflet.css" />
<script src="/js/leaflet.js"></script>

<style>
  .map {
    height: 100vh;
    width: 100%;
  }

  .ol-attribution.ol-uncollapsible {
    bottom: 0;
    right: 0;
    border-radius: 4px 0 0;
    display: none !important;
  }
</style>





<!-- <div id="mapid"></div> -->

<div id="map" class="map"></div>
<div id="mouse-position"></div>
<div id="mapdiv"></div>


<div class="manage">
  <div class="img">
    <img src="/img/jac-6ton-origi.png" alt="">
  </div>
  <div class="info">
    <h3 style="
    font-size: 12px;
    direction: rtl;
    padding: 6px;
">میزان کارکرد: <span>۲۰ کیلومتر</span></h3>

    <div class="col-md-12" style="
    padding: 3px;
">
      <div class="hpanel" style="
      margin-bottom: 0;
  ">
        <div class="panel-body" style="
          direction: rtl;
      ">
          <div class="stats-title">
            <h4>سطح آب مخزن</h4>
          </div>
          <div class="m-t-lg">
            <div class="progress m-t-xs full progress-small" style="
                  position: unset;
              ">
              <div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar"
                class=" progress-bar progress-bar-danger">
                <span class="sr-only">۳۵٪ تکمیل (موفق)</span>
              </div>
            </div>




          </div>

        </div>
      </div>
    </div>


    <div class="col-md-12" style="
    padding: 3px;
">
      <div class="hpanel">
        <div class="panel-body" style="
        padding-top: 0px;
    ">
          <div class="stats-title pull-right">
            <h4>پرسنل آمده به کار</h4>
          </div>
          <div class="flot-chart m-t-lg" style="height: 120px">
            <div class="flot-chart-content" id="flot-pie-chart"
              style="height: 120px; padding: 0px; position: relative;"><canvas class="flot-base" width="192"
                height="120"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 192px; height: 120px;"></canvas><canvas
                class="flot-overlay" width="192" height="120"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 192px; height: 120px;"></canvas>
              <div class="legend">
                <div
                  style="position: absolute; width: 44px; height: 60px; top: 5px; right: 5px; background-color: rgb(255, 255, 255); opacity: 0.85;">
                </div>
                <table style="position:absolute;top:5px;right:5px;font-size:smaller;color:#545454;direction: rtl;">
                  <tbody>
                    <tr>
                      <td class="legendColorBox">
                        <div style="border:1px solid #ccc;padding:1px">
                          <div style="width:4px;height:0;border:5px solid #93f979;overflow:hidden"></div>
                        </div>
                      </td>
                      <td class="legendLabel">ساسان شهسواری</td>
                    </tr>
                    <tr>
                      <td class="legendColorBox">
                        <div style="border:1px solid #ccc;padding:1px">
                          <div style="width:4px;height:0;border:5px solid #fde5ad;overflow:hidden"></div>
                        </div>
                      </td>
                      <td class="legendLabel">محسن کرمی</td>
                    </tr>
                    <tr>
                      <td class="legendColorBox">
                        <div style="border:1px solid #ccc;padding:1px">
                          <div style="width:4px;height:0;border:5px solid #93f979;overflow:hidden"></div>
                        </div>
                      </td>
                      <td class="legendLabel">بهنام بیابانی</td>
                    </tr>
                    <tr>
                      <td class="legendColorBox">
                        <div style="border:1px solid #ccc;padding:1px">
                          <div style="width:4px;height:0;border:5px solid #ff6f6f;overflow:hidden"></div>
                        </div>
                      </td>
                      <td class="legendLabel">محسن کرمی</td>
                    </tr>
                    <tr>
                      <td class="legendColorBox">
                        <div style="border:1px solid #ccc;padding:1px">
                          <div style="width:4px;height:0;border:5px solid #fde5ad;overflow:hidden"></div>
                        </div>
                      </td>
                      <td class="legendLabel">یداله نصوری</td>
                    </tr>
                    <tr>
                      <td class="legendColorBox">
                        <div style="border:1px solid #ccc;padding:1px">
                          <div style="width:4px;height:0;border:5px solid #ff6f6f;overflow:hidden"></div>
                        </div>
                      </td>
                      <td class="legendLabel">علی خدایاری</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="btn">
            <a href="/admin/gis/info" class="btn btn-info btn-sm">اطلاعات بیشتر</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="sidbar">
  <ul>
    <img src="/mobilelogo.png" alt="">
    <li><a href="/gps/gps-report-data">گزارش مسیر حرکت <i class="fa fa-tachometer"></i></a></li>
    <li><a href="/gps/gps-fuel-consumption">گزارش مصرف سوخت <i class="fa fa-tachometer"></i></a></li>
    <li><a href="">مدیریت خودروها <i class="fa fa-tachometer"></i></a></li>
    <li><a href="">مدیریت راننده ها <i class="fa fa-tachometer"></i></a></li>
    <li><a href="">گزارش وقایع <i class="fa fa-tachometer"></i></a></li>
    <li><a href="">راهنمای مسیر <i class="fa fa-tachometer"></i></a></li>

  </ul>
</div>


<script>
  // ایجاد نقشه
  const map = L.map("map").setView([34.348, 47.114], 13);

  // اضافه کردن لایه نقشه
  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(map);

  // تعریف آیکون سفارشی
  const customIcon = L.icon({
      iconUrl: "/fireimg.png", // مسیر تصویر مارکر
      iconSize: [40, 40], 
      iconAnchor: [20, 40], 
      popupAnchor: [0, -40]
  });

  // متغیر برای ذخیره مارکر فعلی
  let currentMarker = null;

  // تابع برای دریافت داده‌های GPS از سرور و نمایش در نقشه
  async function getLatestGPSData() {
      try {
          const response = await fetch("/api/get-latest-gps");
          const data = await response.json();
          
          if (data.data.length > 0) {
              const latestData = data.data[0];
              const { latitude, longitude } = latestData;

              // حذف مارکر قبلی اگر وجود دارد
              if (currentMarker) {
                  map.removeLayer(currentMarker);
              }

              // ایجاد مارکر جدید
              currentMarker = L.marker([latitude, longitude], { icon: customIcon })
                  .addTo(map)
                  .bindPopup(`<b>Latitude:</b> ${latitude}<br><b>Longitude:</b> ${longitude}`)
                  .openPopup();
          }
      } catch (error) {
          console.error("خطا در دریافت داده‌های GPS:", error);
      }
  }

  // دریافت داده‌های GPS هر 5 ثانیه
  setInterval(getLatestGPSData, 5000);
</script>

<!-- 
<script>

  // اتصال به WebSocket

  const socket = io("http://localhost:4000");

  socket.on("connect", () => console.log("Connected to WebSocket"));
  socket.on("connect_error", (err) => console.log("Connection Error:", err));

  const map = L.map("map").setView([34.348, 47.114], 13); // مرکز نقشه کرمانشاه

  // اضافه کردن لایه نقشه
  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(map);

  // دریافت داده‌های جدید GPS از سرور
  socket.on("new-gps-data", (data) => {
    console.log("New GPS data received:", data);

    // گرفتن آخرین داده GPS
    const latestData = data[0];
    const { latitude, longitude } = latestData;
    // ایجاد Marker جدید در نقشه برای نمایش موقعیت جدید
    L.marker([latitude, longitude]).addTo(map)
      .bindPopup(`<b>Latitude:</b> ${latitude}<br><b>Longitude:</b> ${longitude}`)
      .openPopup();
  });
</script> -->