<!-- Main Wrapper -->
<div id="wrapper">

    <div class="content">


        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        افزودن گزارش کارشناسی حادثه مسکونی
                    </div>
                    <div class="panel-body">
                        <form action="/admin/user/create" method="post" enctype="multipart/form-data" class="form-horizontal">

                            <div class="form-group"><label class="col-md-2 control-label">تاریخ حادثه</label>

                                <div class="col-md-4 col-sm-10"><input type="date" name="name"
                                        placeholder="تاریخ حادثه"
                                        class="form-control input-lg m-b">

                                </div>

                            <label class="col-md-2 control-label">ساعت حادثه</label>

                                <div class="col-md-4 col-sm-10"><input type="time" name="name"
                                        placeholder="ساعت حادثه"
                                        class="form-control input-lg m-b">

                                </div>
                            </div>
        
                            <div class="form-group"><label class="col-sm-2 control-label">آدرس محل</label>

                                <div class="col-sm-10"><input type="text" name="address" placeholder=" آدس محل حادثه"
                                        class="form-control input-lg m-b">

                                </div>
                            </div>

                            <div class="form-group">
                                
                                <label class="col-md-2 control-label">نام مالک</label>

                                <div class="col-md-4"><input type="text" name="melicode" placeholder="نام مالک"
                                        class="form-control input-lg m-b">

                                </div>


                                <label class="col-md-2 control-label">نام مستاجر</label>

                                <div class="col-md-4"><input type="text" name="melicode" placeholder="نام مستاجر"
                                        class="form-control input-lg m-b">

                                </div>
                            </div>



                            <div class="form-group">
                                
                                <label class="col-md-2 control-label">مشخصات کاربری</label>

                                <div class="col-md-4"><input type="text" name="melicode" placeholder="مشخصات کاربری"
                                        class="form-control input-lg m-b">

                                </div>


                                <label class="col-md-2 control-label">تعداد طبقات</label>

                                <div class="col-md-4"><input type="text" name="melicode" placeholder="تعداد طبقات"
                                        class="form-control input-lg m-b">

                                </div>
                            </div>




                            <div class="form-group">
                                
                
                                <label class="col-md-2 control-label">مشخصات افراد مصدم در حادثه</label>

                                <div class="col-md-10">
                                    <textarea name="" id="" cols="30" rows="10" style="
                                    width: 100%;
                                    height: 154px;
                                " placeholder="مشخصات افراد مصدم در حادثه"></textarea>
                              

                                </div>
                            </div>


                       
                            <div class="form-group">
                                
                
                                <label class="col-md-2 control-label">شرح خسارت وارده به محل</label>

                                <div class="col-md-10">
                                    <textarea name="" id="" cols="30" rows="10" style="
                                    width: 100%;
                                    height: 154px;
                                " placeholder="شرح خسارت وارده به محل"></textarea>
                              

                                </div>
                            </div>

                            <div class="form-group">
                                
                
                                <label class="col-md-2 control-label">توضیح علل حادثه</label>

                                <div class="col-md-10">
                                    <textarea name="" id="" cols="30" rows="10" style="
                                    width: 100%;
                                    height: 154px;
                                " placeholder="توضیح علل حادثه"></textarea>
                              

                                </div>
                            </div>





                            <div class="form-group">
                                
                
                                <label class="col-md-2 control-label">سایر توضیحات</label>

                                <div class="col-md-10">
                                    <textarea name="" id="" cols="30" rows="10" style="
                                    width: 100%;
                                    height: 154px;
                                " placeholder="سایر توضیحات"></textarea>
                              

                                </div>
                            </div>

        


                            <div class="hr-line-dashed"></div>

                            <button style="
                            width: 100%;
                        " class="btn btn-primary" type="submit">افزودن گزارش کارشناسی مسکونی</button>
                    </div>
                    <div class="hr-line-dashed"></div>


                    </form>
                </div>
            </div>
        </div>
    </div>


</div>



</div>