<div id="wrapper">


    <div class="normalheader ">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="#">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-left m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="index-2.html">پیشخوان</a></li>
                        <li>
                            <span>نمایش های پیام</span>
                        </li>
                        <li class="active">
                            <span>جعبه پیام</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    پیام
                </h2>
                <small>لیست جعبه پیام</small>
            </div>
        </div>
    </div>
    <div class="content">

        <div class="row">
            <div class="col-md-3">
                <div class="hpanel">
                    <div class="panel-body">

                        <ul class="mailbox-list">
                            <li class="active">
                                <a href="#">
                                    <span class="pull-left">12</span>
                                    <i class="fa fa-envelope"></i> ورودی
                                </a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-paper-plane"></i> خروجی</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pencil"></i> معلق</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-trash"></i> زباله دان</a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="mailbox-list">
                            <li>
                                <a href="#"><i class="fa fa-plane text-danger"></i> همگانی</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart text-warning"></i> مالی</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-users text-info"></i> ویژه</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tag text-success"></i> خبرنامه</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-flag text-primary"></i> ارسالی</a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="mailbox-list">
                            <li>
                                <a href="#"><i class="fa fa-gears"></i> تنظیمات</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-info-circle"></i> پشتیبانی</a>
                            </li>
                        </ul>


                    </div>

                </div>
            </div>
            <div class="col-md-9">
                <div class="hpanel">
                    <div class="panel-heading hbuilt">
                        <div class="text-center p-xs font-normal">
                            <div class="input-group"><input type="text" class="form-control input-sm" placeholder="جستجو ..."> <span class="input-group-btn"> <button type="button" class="btn btn-sm btn-default">جستجو
                            </button> </span></div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 m-b-md">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i> تازه سازی</button>
                                    <button class="btn btn-default btn-sm"><i class="fa fa-eye"></i></button>
                                    <button class="btn btn-default btn-sm"><i class="fa fa-exclamation"></i></button>
                                    <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                    <button class="btn btn-default btn-sm"><i class="fa fa-check"></i></button>
                                    <button class="btn btn-default btn-sm"><i class="fa fa-tag"></i></button>
                                </div>
                            </div>
                            <div class="col-md-6 mailbox-pagination m-b-md">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></button>
                                    <button class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-mailbox">
                                <tbody>
                                <tr class="unread">
                                    <td class="">
                                        <div class="checkbox checkbox-single checkbox-success">
                                            <input type="checkbox" checked="">
                                            <label></label>
                                        </div>
                                    </td>
                                    <td><a href="#">وحید رستمی</a></td>
                                    <td><a href="#">با عرض سلام و خسته نباشید خدمت ریاست محترم آتش نشانی.</a>
                                    </td>
                                    <td><i class="fa fa-paperclip"></i></td>
                                    <td class="text-right mail-date">۲۱ خرداد ۱۳۹۹</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <i class="fa fa-eye"> </i> 6 نمایش
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>