<section class="content">
    <%- include(viewPath('layouts/error-messages')) -%>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="body">
                <div class="block-header">
                    <h2>ویرایش نظر</h2>
                </div>
                <ol class="breadcrumb">
                    <li>
                        <a href="javascript:void(0);">
                            <i class="material-icons">home</i> خانه
                        </a>
                    </li>
                    <li class="active">
                        <a href="/admin/viewpoint">
                            <i class="material-icons">library_books</i> نظرات کاربران
                        </a>
                    </li>
                    <li class="active">
                        <i class="material-icons">library_books</i> ویرایش نظر 
                    </li>
                </ol>
                
            </div>
        </div>

        
        
        
    </div>
    <div class="row clearfix">


        

        <form action="/admin/viewpoint/edite/<%= viewpoint._id %>?_method=put" method="post">
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        متن نظر
                    </h2>
                    
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <textarea name="comment" id="" cols="100" rows="10"><%= viewpoint.comment %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            
        </div>





        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <button style=" margin-bottom: 150px; " type="submit" class="btn btn-block btn-lg btn-primary waves-effect">ویرایش</button>
    
        </div>
    </form>
        
        
    </div>
</section>

