<div class="sidebar-panel" id="sidebar-panel">
    <div class="logo">
      <img src="./img/logo.png" alt="">

    </div>
    <nav class="nav">
      <ul>
        <li class="active item ">
          <a href="/dashboard">
            <i class="fa fa-tachometer"></i>
            پیشخوان</a>
        </li>
        <li class="item">

          <a href="#collapse-post" data-toggle="collapse" aria-controls="collapse-post">
            <i class="fa fa-th-list"></i>
            ثبت گزارش
            <i class="fa fa-caret-down left"></i>

          </a>

        <ul id="collapse-post" class="collapse collapseable">

          <li class="item">
            <a href="/dashboard/report/create">
               ثبت گزارش</a>
          </li>
          <li class="item">
            <a href="/dashboard/report">
                لیست گزارشات </a>
          </li>

        </ul>
        </li>
        <li class="item">
          <a href="#">
            <i class="fa fa-trophy"></i>
            امتیازها</a>
        </li>
        <li class="item">
          <a href="/dashboard/history/login">
            <i class="fa fa-history"></i>
            تاریخچه ورود</a>
        </li>


        <li class="item">
          <a href="/dashboard/hydrant">
            <i class="fa fa-life-ring"></i>
            لیست تمام هیدرانت ها</a>

        </li>
        <li class="item">
          <a href="/dashboard/tiket">
            <i class="fa fa-info-circle"></i>
            ارسال تیکت</a>
        </li>
        <li class="item">
          <a >
            <i class="fa fa-credit-card"></i>
            تیکت های ثبت شده</a>
        </li>
        <li class="item">
          <a href="#">
            <i class="fa fa-check"></i>
          ارزش یابی نیرو</a>
        </li>


        <li class="item">
          <a href="/dashboard/videostrem">
            <i class="fa fa-video-camera"></i>
          ارتباط آنلاین با سایر ایستگاه ها</a>
        </li>

        <li class="item">
          <a href="#">
            <i class="fa fa-cogs"></i>
          تنظیمات</a>
        </li>
        <li class="item">
          <a href="/logout">
            <i class="fa fa-power-off"></i>
            خروج از سیستم</a>
        </li>
      </ul>
    </nav>
  </div>