<div id="wrapper">

    <div class="normalheader ">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="#">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>
    
                <div id="hbreadcrumb" class="pull-left m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="index-2.html">پیشخوان</a></li>
                        <li>
                            <span>نمایش های برنامه</span>
                        </li>
                        <li class="active">
                            <span>مخاطبان</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    آتش نشانان
                </h2>
                <small>لیست تمامی پرسنل آتش نشان.</small>
            </div>
        </div>
    </div>
    
    <div class="content">
    
        <div class="row">
            <div class="col-lg-3">
                <div class="hpanel hgreen contact-panel">
                    <div class="panel-body">
                        <span class="label label-success pull-left">جدید</span>
                        <img alt="logo" class="img-circle m-b" src="images/profile.jpg">
                        <h3><a href="#">پوریا یاوری</a></h3>
                        <div class="text-muted font-bold m-b-xs">کرمانشاه</div>
                        <p>
                            چهاراه راهنمایی و رانندگی خیابان شهید حمالی لطف کوی دل انگیز فرعی نیک جوب پلاک 29
                        </p>
                    </div>
                    <div class="panel-footer contact-footer">
                        <div class="row">
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>عملیاتها:</span> <strong>۲۰۰</strong></div> </div>
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>پیام ها:</span> <strong>۳۰۰</strong></div> </div>
                            <div class="col-md-4"> <div class="contact-stat"><span>توانایی:</span> <strong>۴۰۰</strong></div> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel hyellow contact-panel">
                    <div class="panel-body">
                        <span class="label label-success pull-left">جدید</span>
                        <img alt="logo" class="img-circle m-b" src="images/a1.jpg">
                        <h3><a href="#">وحید رستمی </a></h3>
                        <div class="text-muted font-bold m-b-xs">کرمانشاه</div>
                        <p>
                            چهاراه راهنمایی و رانندگی خیابان شهید حمالی لطف کوی دل انگیز فرعی نیک جوب پلاک 29
                        </p>
                    </div>
                    <div class="panel-footer contact-footer">
                        <div class="row">
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>عملیاتها:</span> <strong>۲۰۰</strong></div> </div>
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>پیام ها:</span> <strong>۳۰۰</strong></div> </div>
                            <div class="col-md-4"> <div class="contact-stat"><span>توانایی:</span> <strong>۴۰۰</strong></div> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel hviolet contact-panel">
                    <div class="panel-body">
                        <span class="label label-success pull-left">جدید</span>
                        <img alt="logo" class="img-circle m-b" src="images/a3.jpg">
                        <h3><a href="#">پدرام نظری</a></h3>
                        <div class="text-muted font-bold m-b-xs">کرمانشاه</div>
                        <p>
                            چهاراه راهنمایی و رانندگی خیابان شهید حمالی لطف کوی دل انگیز فرعی نیک جوب پلاک 29
                        </p>
                    </div>
                    <div class="panel-footer contact-footer">
                        <div class="row">
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>عملیاتها:</span> <strong>۲۰۰</strong></div> </div>
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>پیام ها:</span> <strong>۳۰۰</strong></div> </div>
                            <div class="col-md-4"> <div class="contact-stat"><span>توانایی:</span> <strong>۴۰۰</strong></div> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel hblue contact-panel">
                    <div class="panel-body">
                        <span class="label label-success pull-left">جدید</span>
                        <img alt="logo" class="img-circle m-b" src="images/a7.jpg">
                        <h3><a href="#">سید یزدان صالح</a></h3>
                        <div class="text-muted font-bold m-b-xs">کرمانشاه</div>
                        <p>
                            چهاراه راهنمایی و رانندگی خیابان شهید حمالی لطف کوی دل انگیز فرعی نیک جوب پلاک 29
                        </p>
                    </div>
                    <div class="panel-footer contact-footer">
                        <div class="row">
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>عملیاتها:</span> <strong>۲۰۰</strong></div> </div>
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>پیام ها:</span> <strong>۳۰۰</strong></div> </div>
                            <div class="col-md-4"> <div class="contact-stat"><span>توانایی:</span> <strong>۴۰۰</strong></div> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
                                    
    
    
        </div>
    
        
    
    </div>