 <!-- Start Footer -->
 <footer id="panel-footer" class="clear-fix">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">طراحی شده توسط پوریا یاوری</div>
          <div class="pull-right" style="
          direction: rtl;
      ">
            امروز <%= datas(date).format('D jMMMM jYYYY') %> ساعت <%= datas(date).format('h:m') %>
            </div>

        </div>
      </div>
    </div>
    </footer>




<script type="text/javascript">
var myVar=setInterval(function(){myTimer()},1);
var count = 0;
function myTimer() {
if(count < 100){
$('.progress').css('width', count + "%");
count += 0.05;
//  document.getElementById("demo").innerHTML = Math.round(count) +"%";
// code to do when loading
}

else if(count > 99){
// code to do after loading
// count = 0;


}
}
</script>




<script type="text/javascript">


window.onload = function () {
var mobilemenu = document.getElementById('sidebar-panel');
var iconcollapse = document.getElementById('icon_collapse');
var back = document.getElementById('mask');
back.onclick = hidemaster;

function hidemaster() {
mobilemenu.style.right = "0px"
back.style.display = "none";
mobilemenu.style.visibility = "hidden";

}
iconcollapse.onclick = showmaster;

function showmaster() {
back.style.display = "block";
mobilemenu.style.visibility = "visible";
mobilemenu.style.right = "0px"
}

}

</script>