
<section class="single-header">
    <div class="imageHeader">
        <img src="./../../../../images/bg-footer.png" alt="Notebook">

    </div>
</section>




<section class="main">

    <div class="content dashboard">


        <div class="desc">
            <h1>بازدیدهای اخیر
            </h1>
            <div class="history">
                <% history.docs.forEach(post => { %>
                
                <div class="item">
            
                    <img src="<%= post.productid.images %>" alt="Notebook">
                      <h1><%= post.productid.title %></h1>
                </div>

                <% }) %>

            </div>

            
        </div>
        

    </div>

    <%- include(viewPath('home/dashboard/sidbardashboard')) %>



</section>




