<div class="dashboard-sidebar">
    <div class="dashboard-item">
        <div class="profile">
            <img src="/images/user.png" alt="">
        </div>
        <h6>پدرام یاوری</h6>
        <ul class="profile">
            <li><a href="">اطلاعات کاربری</a></li>
            <li><a href="">ویرایش اطلاعات</a></li>
            <li><a href="">تغییر رمز عبور</a></li>
        </ul>
    </div>

    <div class="dashboard-item">
        <h5>پنل کاربری</h5>

        <ul>
            <li> <i class="material-icons">supervised_user_circle</i><a href="">اطلاعات کاربری</a></li>
            <li><i class="material-icons">edit</i><a href="">ویرایش اطلاعات</a></li>            
            <li><i class="material-icons">fingerprint</i><a href="">تغییر رمز عبور</a></li>
            <li><i class="material-icons">message</i><a href="/payam">پیام ها</a></li>
            <li><i class="material-icons">chat_bubble</i><a href="/chate">گفتگوی آنلاین</a></li>
            <li><i class="material-icons">chat_bubble</i><a href="/chate">سبد خرید</a></li>
            <li><i class="material-icons">chat_bubble</i><a href="/chate"> خرید</a></li>
            <li><a href="">عضویت ویژه</a></li>
            <li><a href="/history">بازدیدهای اخیر</a></li>
            <li><a href="">بوکمارک ها</a></li>
            <li><a href="/comment">نظرات ثبت شده</a></li>
        </ul>
    </div>

</div>