<div class="row clearfix">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    دسته بندی

                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">

                            <li><a href="/admin/category" class=" waves-effect waves-block"> تمام دسته ها </a>
                            </li>
                            <li><a href="/admin/category/create" class=" waves-effect waves-block">
                                    افزودن دسته بندی
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>


        </div>
    </div>

    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 pull-right text-right">
        <div class="body lablepicture" style="margin-bottom: 20px;">

            <a href="/admin/category/create"><span class="label bg-light-blue"> افزودن دسته</span></a>

        </div>
    </div>

    <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
        <div class="demo-google-material-icon">
            <form action="/admin/category/search" method="get">

                <input id="search" name="search" type="text" class="form-control"
                    style=" direction: rtl; font-family: IRANSans; font-size: 12px; "
                    placeholder="چی میخای فقط بنویس(:">
                <button type="submit" class="btn bg-blue waves-effect">
                    <i class="material-icons">search</i>
                    <span>جستجو</span>
                </button>
            </form>

        </div>
    </div>


    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pull-right text-right">
        <form action="/admin/category/filter" method="post">

            <select name="category" id="parent" class="form-control">

                <% category.forEach(cate => { %>
                <option value="<%= cate.id %>"><%= cate.name %></option>
                <% }) %>
            </select>
            <button type="submit" class="btn btn-primary waves-effect">فیلتر</button>
        </form>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left text-left">
        <div class="body">
            <nav>
                <%- include(viewPath('layouts/pagination') ,{ pagination : categories}) %>

            </nav>
        </div>
    </div>





</div>