<div class="error-container">
    <i class="pe-7s-way text-success big-icon"></i>
    <h1>۴۰۴</h1>
    <strong>صفحه ای یافت نشد</strong>
    <p>       
با عرض پوزش، اما صفحه شما به دنبال برای است توجه داشته باشید یافت شده است. سعی کنید چک کردن URL برای خطا، سپس دکمه تازه کردن مرورگر خود را و یا سعی کنید چیز دیگری در برنامه ما در بر داشت.
    </p>
    
</div>