<!-- Vendor styles -->
<link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css" />
<link rel="stylesheet" href="/vendor/metisMenu/dist/metisMenu.css" />
<link rel="stylesheet" href="/vendor/animate.css/animate.css" />
<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="/vendor/bootstrap-rtl/dist/css/bootstrap-rtl.css" />

<!-- App styles -->
<link rel="stylesheet" href="/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
<link rel="stylesheet" href="/fonts/pe-icon-7-stroke/css/helper.css" />
<link rel="stylesheet" href="/styles/style-rtl.css">
<style>
.category-img img {
    width: 175px;
    transition: .5s ease-in-out;
    height: 175px;
}

    .landing-page a.client {
        color: #535353;
        background: #ececec;
        padding: 10px;
        display: block;
        transition: .5s ease-in-out;
        text-align: right;
        font-size: 15px;
    }

    .landing-page .client,
    .landing-page a.client {
        text-transform: uppercase;
        margin: 0 0 20px;
        font-weight: 600;
    }
</style>

<body class="landing-page">

    <div class="splash">
        <div class="color-line"></div>
        <div class="splash-title">
            <h1>هومر - قالب مدیریت واکنشگرا</h1>
            <p>Special Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="
        position: absolute;
        left: 0;
    ">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                    class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/register/user" class="navbar-brand">درخواست دمو</a>
                <div class="brand-desc" style="
                margin: 0;
            ">
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a class="page-scroll" href="#page-top">خانه</a></li>
                    <li><a class="page-scroll" page-scroll href="#components">سامانه دیسپاچینگ</a></li>
                    <li><a class="page-scroll" page-scroll href="#features">ویژگی ها</a></li>
                    <li><a class="page-scroll" page-scroll href="#team">راهکارها</a></li>
                    <li><a class="page-scroll" page-scroll href="#contact">درباره ما</a></li>
                    <li><a class="page-scroll" page-scroll href="#contact">تماس با ما</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="page-top">
        <div class="container">
            <div class="heading">
                <h1>
                    سازمان آتش نشانی استان کرمانشاه
                </h1>
                <span>ارائه دهنده راهکارهای جامع جهت هوشمندسازی ناوگان خودرویی در صنایع مختلف .</span>
                <p class="small" style="
            text-align: justify;
        ">
                    راهکار مدیریت هوشمند ناوگان حمل و نقل، راهکاری جامع و یکپارچه مبتی بر اینترنت اشیاست. در این راهکار،
                    اطلاعات مختلفی نظیر موقعیت مکانی خودروها، میزان نیازمندی به تعمیرات، میزان سوخت مصرفی، مؤلفه‌های
                    قابل‌اندازه‌گیری در رفتار ترافیکی رانندگان (تعداد ترمزهای خطرناک، سرعت، دور موتور و غیره) توسط
                    حسگرهای نصب شده بر روی خودروها جمع‌آوری شده، پس از پردازش و تبدیل به گزارش و تحلیل، کسب و کارها را
                    قادر می‌سازد بر اساس داده‌های واقعی و قابل اعتماد ، تصمیمات بهتری اتخاذ کنند. </p>
                <a href="#" class="btn btn-success btn-sm">یادگیری بیشتر</a>
            </div>
            <div class="heading-image animate-panel" data-child="img-animate" data-effect="fadeInRight">
                <p class="small">لورم ایپسوم متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم.</p>
                <img class="img-animate" src="/images/landing/gallery-img3-2.jpg">
                <img class="img-animate" src="/images/landing/gallery-img3-5.jpg">
                <img class="img-animate" src="/images/landing/gallery-img3-8.jpg">
                <img class="img-animate" src="/images/landing/abt-gal-img3-2.jpg">
                <br />
                <img class="img-animate" src="/images/landing/Blog-3.jpg">
                <img class="img-animate" src="/images/landing/abt-gal-img3-3.jpg">
                <img class="img-animate" src="/images/landing/Blog-2.jpg">
                <img class="img-animate" src="/images/landing/Blog-4.jpg">
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>اگر ناوگان عملیاتی و ماموریتی هوشمند نباشد
                    </h4>
                    <p>
                        
                        اگر یک ماموریت را به صورت مرحله‌ای شبیه‌سازی کنیم می‌بینیم از لحظه ثبت محل حادثه توسط سامانه ثبت حوادث در این سازمان‌ها، هر ثانیه کاملا حیاتی است.
                    </p>
                    <p><a class="navy-link btn btn-sm" href="#" role="button"> بیشتر بدانید</a></p>
                </div>
                <div class="col-md-4">
                    <h4>بهبود عملکرد ناوگان امدادی و عملیاتی
                    </h4>
                    <p>

                        پایه و اساس مدیریت اثربخش اطلاعات و داده‌های واقعی برای تصمیم‌گیری‌های سازمانی هوشمند سازی ناوگان و دادهای ثبت شده در سامانه نرم افزاری است.
                    </p>
                    <p><a class="navy-link btn btn-sm" href="#" role="button"> بیشتر بدانید</a></p>
                </div>
                <div class="col-md-4">
                    <h4>	
                        نقش ناوگان هوشمند</h4>
                    <p>
                        
                        تصور صنعت حمل‌ونقل بدون ناوگان خودرویی امکان‌پذیر نیست. گسترش شهرها و نیاز به جابه‌جایی کالا و افراد از محلی به محل دیگر لزوم استفاده از ناوگان هوشمند را پر رنگ کرده است.
                    </p>
                    <p><a class="navy-link btn btn-sm" href="#" role="button"> بیشتر بدانید</a></p>
                </div>
            </div>
        </div>
    </section>


    <section id="features" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2> سامانه هوشمند <span class="text-success"> دیسپاچینگ</span> </h2>
                    <p>
                        نظارت و فرماندهی خودروهای امدادی و عملیاتی در هر لحظه از ماموریت‌ها و حوادث

                    </p>
                </div>
            </div>
            <div class="row m-t-lg">
                <div class="col-md-4 col-md-offset-2">
                    <strong>مدیریت هوشمند ناوگان حمل و نقل
                    </strong>
                    <p>
                        راهکار مدیریت هوشمند ناوگان حمل و نقل، راهکاری جامع و یکپارچه مبتی بر اینترنت اشیاست. در این راهکار، اطلاعات مختلفی نظیر موقعیت مکانی خودروها، میزان نیازمندی به تعمیرات، میزان سوخت مصرفی، مؤلفه‌های قابل‌اندازه‌گیری در رفتار ترافیکی رانندگان (تعداد ترمزهای خطرناک، سرعت، دور موتور و غیره) توسط حسگرهای نصب شده بر روی خودروها جمع‌آوری شده...</p>
                    <a class="btn btn-success btn-sm">یادگیری بیشتر</a>
                </div>
                <div class="col-md-4">
                    <strong>قابلیت‌های سامانه مدیریت هوشمند ناوگان                    </strong>
                    <p>این سامانه مبتنی بر استفاده از فناوری های GPS و GSM است. در این سامانه، هر وسیله نقلیه به یک سخت افزار ردیابی مجهز می‌گردد. با بکارگیری این سخت افزار، علاوه بر دریافت لحظه‌ای اطلاعات مکانی خودرو از ماهواره‌های GPS، سایر اطلاعات قابل دریافت از ناوگان حمل‌و‌نقل از جمله میزان سوخت مصرفی، مسافت طی شده، وزن بار خودرو، دمای محفظه حمل بار...</p>
                    <a class="btn btn-success btn-sm">یادگیری بیشتر</a>
                </div>
            </div>
            <div class="row m-t-lg">
                <div class="col-md-4 col-md-offset-2">
                    <strong>مزایای سامانه مدیریت ناوگان و مدیریت مأموریت</strong>
                    <p>لورم ایپسوم متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن
                        متن لورم ایپسوم تصور میکند متنی که در صفحه مشاهده میکند این متن واقعی و مربوط به توضیحات صفحه
                        مورد نظر است واقعی است. حالا سوال اینجاست که این متن " لورم ایپسوم " به چه دردی میخورد و اساسا
                        برای چه منظور و هدفی ساخته شده است.</p>
                    <a class="btn btn-success btn-sm">یادگیری بیشتر</a>
                </div>
                <div class="col-md-4">
                    <strong>مزایا و ویژگی‌های نرم افزار</strong>
                    <p>لورم ایپسوم متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن
                        متن لورم ایپسوم تصور میکند متنی که در صفحه مشاهده میکند این متن واقعی و مربوط به توضیحات صفحه
                        مورد نظر است واقعی است. حالا سوال اینجاست که این متن " لورم ایپسوم " به چه دردی میخورد و اساسا
                        برای چه منظور و هدفی ساخته شده است.</p>
                    <a class="btn btn-success btn-sm">یادگیری بیشتر</a>
                </div>
            </div>
        </div>
    </section>

    <section id="features2" class="">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2><span class="text-success"> ویژگی‌ های هسته نرم‌ افزار </span>مدیریت ناوگان و ردیابی خودرو</h2>
                    <p>متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <h4 class="m-t-lg"><i class="pe-7s-airplay text-success icon-big"></i></h4>
                    <strong>تحلیل و گزارش‌سازی
                    </strong>
                    <p>متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم
                        ایپسوم تصور میکند</p>
                </div>
                <div class="col-md-3">
                    <h4 class="m-t-lg"><i class="pe-7s-science text-success icon-big"></i></h4>
                    <strong>یکپارچه‌سازی
                    </strong>
                    <p>متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم
                        ایپسوم تصور میکند</p>
                </div>
                <div class="col-md-3">
                    <h4 class="m-t-lg"><i class="pe-7s-display1 text-success icon-big"></i></h4>
                    <strong>مسیریابی و راهبری
                    </strong>
                    <p>متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم
                        ایپسوم تصور میکند</p>
                </div>
                <div class="col-md-3">
                    <h4 class="m-t-lg"><i class="pe-7s-cloud-upload text-success icon-big"></i></h4>
                    <strong>اعزام</strong>
                    <p>متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم
                        ایپسوم تصور میکند</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <h4 class="m-t-lg"><i class="pe-7s-global text-success icon-big"></i></h4>
                    <strong>برنامه‌ریزی
                    </strong>
                    <p>متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم
                        ایپسوم تصور میکند</p>
                </div>
                <div class="col-md-3">
                    <h4 class="m-t-lg"><i class="pe-7s-battery text-success icon-big"></i></h4>
                    <strong>تشخیص اتوماتیک انجام مراحل ماموریت
                    </strong>
                    <p>متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم
                        ایپسوم تصور میکند</p>
                </div>
                <div class="col-md-3">
                    <h4 class="m-t-lg"><i class="pe-7s-users text-success icon-big"></i></h4>
                    <strong>فرم‌های مراحل ماموریت
                    </strong>
                    <p>متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم
                        ایپسوم تصور میکند</p>
                </div>
                <div class="col-md-3">
                    <h4 class="m-t-lg"><i class="pe-7s-ticket text-success icon-big"></i></h4>
                    <strong>نقشه GIS</strong>
                    <p>متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم
                        ایپسوم تصور میکند</p>
                </div>
            </div>

        </div>
    </section>



    <section id="clients" class="bg-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3">
                    <h2><span class="text-success">استان های
                        </span> فعال</h2>
                    <p>
                        سازمان آتش نشانی استان کرمانشاه ارائه دهنده راهکارهای جامع در حوزه مدیریت ناوگان خودرویی برای
                        پوشش نیازهای استانهای مختلف </p>
                </div>
            </div>

            <div class="row text-center m-t-lg">
                <div class="col-md-12">

                    <div class="row" style="
                    padding-right: 120px;
                    padding-left: 120px;
                ">
                        <div class="col-md-3 category-img"><img class="cat" src="/img/es.png"><a
                                class="client" href="">شهرداری اصفهان</a>
                        </div>

                        <div class="col-md-3 category-img"><img class="cat" src="/img/tb.png"><a
                                class="client" href="">شهرداری تبریز</a>
                        </div>


                        <div class="col-md-3 category-img"><img class="cat" src="/img/el.png"><a
                                class="client" href="">شهرداری الوند</a>
                        </div>

                        <div class="col-md-3 category-img"><img class="cat" src="/img/yz.png"><a
                                class="client" href="">شهرداری یزد</a>
                        </div>

                    </div>


                </div>

            </div>


        </div>
    </section>

    <section id="">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3">
                    <h2><span class="text-success">ویژگی های
                        </span> نرم افزار</h2>
                    <p>
                        سازمان آتش نشانی استان کرمانشاه ارائه دهنده راهکارهای جامع در حوزه مدیریت ناوگان خودرویی برای
                        پوشش نیازهای استانهای مختلف </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="featur-box">
                        <div class="icon">
                            <i class="fa fa-bell"></i>
                        </div>
                        <div class="heade-featur">
                            <h3>هدر مورد نظر</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد</p>
                        </div>
                    </div>
                    <div class="space-height">
                    </div>
                    <div class="featur-box">
                        <div class="icon">
                            <i class="fa fa-cog"></i>
                        </div>
                        <div class="heade-featur">
                            <h3>هدر مورد نظر</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد</p>
                        </div>
                    </div>
                    <div class="space-height">
                    </div>
                    <div class="featur-box">
                        <div class="icon">
                            <i class="fa fa-database"></i>
                        </div>
                        <div class="heade-featur">
                            <h3>هدر مورد نظر</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد</p>
                        </div>
                    </div>
    
                </div>
                <div class="col-md-4">
                    <img src="/img/single-iphone.png" class="img-responsive phone-img" alt="">
                </div>
                <div class="col-md-4">
                    <div class="featur-box">
                        <div class="icon">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="heade-featur">
                            <h3>هدر مورد نظر</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد</p>
                        </div>
                    </div>
                    <div class="space-height">
                    </div>
                    <div class="featur-box">
                        <div class="icon">
                            <i class="fa fa-leaf"></i>
                        </div>
                        <div class="heade-featur">
                            <h3>هدر مورد نظر</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد</p>
                        </div>
                    </div>
                    <div class="space-height">
                    </div>
                    <div class="featur-box">
                        <div class="icon">
                            <i class="fa fa-support"></i>
                        </div>
                        <div class="heade-featur">
                            <h3>هدر مورد نظر</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </section>

    <section class="bd-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="info-img">
                        <img src="img/2-iphone-left.png" class="img-responsive" alt="">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="heade-info">
                        <h3>هدر مورد نظر</h3>

                        <div class="line-info">

                        </div>
                        <div class="height-30">

                        </div>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد

                        </p>
                        <div class="height-40">

                        </div>
                        <ul class="list-info">
                            <li><i class="fa fa-check"></i> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </li>
                            <li><i class="fa fa-check"></i> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </li>
                            <li><i class="fa fa-check"></i> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </li>

                            <div class="download">
                                <a href="#"><img src="img/android.svg" alt=""> </a>
                                <a href="#"> <img src="img/apple.svg" alt=""> </a>
                            </div>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="bg-light" style="
background: url('/images/landing/footer.jpg')100%;
">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3">
                    <h2><span class="text-success">تماس با ما</span> در هر زمان</h2>
                    <p>
                        لورم ایپسوم متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن
                        متن لورم ایپسوم تصور میکند متنی که در صفحه مشاهده میکند این متن واقعی و مربوط به توضیحات صفحه
                        مورد نظر است
                    </p>
                </div>
            </div>

            <div class="row text-center m-t-lg">
                <div class="col-md-4 col-md-offset-3">

                    <form class="form-horizontal" role="form" method="post" action="#">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">نام</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" name="name"
                                    placeholder="نام و نام خانوادگی" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">ایمیل</label>

                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="user@example.com" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message" class="col-sm-2 control-label">پیام</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" name="message"
                                    placeholder="متن پیام در اینجا..."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="submit" name="submit" type="submit" value="ارسال پیام"
                                    class="btn btn-success">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-md-3 text-left">
                    <address>
                        <strong><span class="navy">سازمان آتش نشانی کرمانشاه</span></strong><br />
                        میدان غدیر<br />
                        ایران.کرمانشاه. سازمان آتش نشانی <br />
                        <abbr title="Phone">تلفن:</abbr> (۰۹۸) ۳۷۲۲۴۴۴۴
                    </address>
                    <p class="text-color">
                        لورم ایپسوم متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن
                        متن لورم ایپسوم تصور میکند متنی که در صفحه مشاهده میکند این متن واقعی و مربوط به توضیحات صفحه
                        مورد نظر است
                    </p>
                </div>
            </div>


        </div>
    </section>

    <!-- Vendor scripts -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="vendor/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/metisMenu/dist/metisMenu.min.js"></script>
    <script src="vendor/iCheck/icheck.min.js"></script>
    <script src="vendor/sparkline/index.js"></script>

    <!-- App scripts -->
    <script src="scripts/homer.js"></script>

    <!-- Local script for menu handle -->
    <!-- It can be also directive -->
    <script>
        $(document).ready(function () {

            // Page scrolling feature
            $('a.page-scroll').bind('click', function (event) {
                var link = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(link.attr('href')).offset().top - 50
                }, 500);
                event.preventDefault();
            });

            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });

        });
    </script>

</body>

</html>